/*#69b883 396248 df7b1d d76d2c cores scc*/

body {
    background: white;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
}

#container {
    width: 100%;
}

#morumbi {
    width: 100%;
    height: 300px;
}

#menu {
    background: #B22222;
    padding: 18px;
    text-align: center;
}

#conteudo {
    background: white;
    padding: 20px;
}

.box {
    color: white;
    background: #B22222;
    padding-top: 20px;
    padding-right: 20px;
    width: 250px;
    height: 500px;
    margin: 2.5px;
    float: left;
}

.box:hover,
.box:focus {
    background-color: #1C1C1C;
}

.box-img {
    border: 1px solid white;
    width: 250px;
    height: 180px;
    margin: 10px;
}

.text-box {
    padding: 10px;
}

.button-box {
    width: 80px;
    height: 35px;
    color: white;
    background-color: #B22222;
    border: 1.5px solid white;
    border-radius: 5px;
}

.button-box:hover,
.button-box:focus {
    background-color: white;
    color: #1C1C1C;
    font-weight: bold;
}

.clearfix {
    clear: both
}

.container-img {
    width: 50%;
}

h2 {
    padding: 5px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em #1C1C1C;
}

#mapa {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    text-align: center;
}

#frame-mapa {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-home,
#menu-historia,
#menu-localizacao,
#menu-contato {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
}

#menu-home:hover,
#menu-home:focus,
#menu-historia:hover,
#menu-localizacao:focus,
#menu-localizacao:hover,
#menu-contato:focus,
#menu-contato:hover,
.active {
    background-color: #1C1C1C;
    border-radius: 10px;
}

footer {
    background-color: #1C1C1C;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    width: 100%;
}

h1 {
    font-size: 1.2em
}

.img-historia {
    object-fit: contain;
    border: 5px solid #1C1C1C;
    width: 100%;
    height: 100%;
}

form {
    font-size: 15px;
    max-width: 500px;
}

input,
textarea {
    width: 50%;
    padding: 10px;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 10px;
    font: 14px Arial, Helvetica, sans-serif;
}

.enviar:hover,
.enviar:focus {
    box-shadow: 5px 0px 9px #1C1C1C;
    background-color: #B22222;
    color: white;
    font-weight: bold;
}

.enviar {
    background: #1C1C1C;
    color: white;
    cursor: pointer;
}

textarea {
    width: 50%;
    height: 120px;
    max-width: 400px;
    line-height: 20px;
}